# OS
.DS_Store

# Tests
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 보안상의 이유로 업로드 금지 항목

# SECRETS

.pem
*.pem

# TERRAFORM

.terraform
.terraform.lock.hcl
.tfstate
*.tfstate
02-Terraform-Basics/*?terraform.tfvars
03-Terraform-Settings-Providers-Resources/*?terraform.tfvars
04-Terraform-Variables-and-Datasources/*?terraform.tfvars
05-Terraform-Loops-MetaArguments-SplatOperator/*?terraform.tfvars
06-AWS-VPC/*?terraform.tfvars
07-AWS-EC2Instance-and-SecurityGroups/*?terraform.tfvars
08-AWS-ELB-Classic-LoadBalancer/*?terraform.tfvars
10-ALB-Path-Based-Routing/*?terraform.tfvars

*.tfstate.backup
terraform.tf
terraform.tfvars
terraform.tfstate
crash.log

# OTHERS
*/local-exec-output-files/creation-time-vpc-id.txt
*/.terraform.tfstate.lock.info
*/*/.terraform.tfstate.lock.info
