# OS
.DS_Store

# Tests
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 보안상의 이유로 업로드 금지 항목

# SECRETS

.pem
*.pem

# TERRAFORM

.terraform
.terraform.lock.hcl
.tfstate
.tfvars
*.tfvars
*.tfstate
*.tfstate.backup

terraform.tf

# OTHERS
*/local-exec-output-files/creation-time-vpc-id.txt
*/.terraform.tfstate.lock.info
*/*/.terraform.tfstate.lock.info